:root {
  --teal: rgb(97, 243, 238);
}

html {
  scroll-behavior: smooth;
}
.teal-color {
  color: var(--teal);
}

body {
  /* background-color: rgb(38, 38, 38) !important; */
  background-color: rgb(8, 9, 10) !important;
  /* background-color: whi */
  color: white !important;
}

#root {
  width: 100%;
  padding: 2rem;
}

#page-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.size-medium {
  font-size: 30px;
}

.tab-cover {
  border-radius: 0.5em;
  padding: 0.3em 0.5em;
  transition: all 0.4s ease-out;
  background-color: rgb(28, 28, 28);
}
.tab-cover:hover {
  background-color: var(--teal);
  color: black;
  border-color: black;
}
.tab {
  width: fit-content;
  padding: 0.05em 0.75em;
  border-right: 1px solid var(--teal);
  transition: all 0.4s ease-out;
  background-color: rgb(28, 28, 28);
}

.tab:hover {
  font-weight: bold;
  cursor: pointer;
}

.last {
  border: none;
}

.tab-container {
  display: flex;
  width: fit-content;
  padding: 0.5em;
  border-radius: 1em;
  border: 1px solid var(--teal);
  justify-content: center;
  column-gap: 0.25em;
  margin-top: 1em;
  position: sticky;
  background-color: rgb(28, 28, 28);
  top: 1em;
  z-index: 100;
}
.img-container {
  display: flex;
  justify-content: center;
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  /* border-bottom: 1px solid white; */
}

#github {
  transform: scale(0.15);
}

#github {
  border-radius: 50%;
  transform: scale(0.8);
  width: 40px;
  height: auto;
}

#linkedin {
  /* transform: scale(0.1); */
  width: 30px;
  /* border-radius: 50%; */
}

#email {
  /* transform: scale(0.1); */
  width: 40px;
}

.icon {
  margin-right: 0.5em;
}
.name-hero {
  font-size: 80px !important;
  color: var(--teal);
  font-weight: bold;
  letter-spacing: -7px;
}

.icon-container {
  display: flex;
  justify-content: center;
  height: 5em;
  width: 50%;
  column-gap: 2em;
}

.icon-container div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100px;
  align-items: center;
}

.icon-container a {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.medium-large {
  font-size: 3em;
}

#about {
  width: 50%;
}

#experience {
  margin-top: 2em;
  width: 50%;
}

.teal-border {
  border-top: 1px solid var(--teal) !important;
}

#flow {
  width: 3.4em;
  height: 100%;
}

.experience-logo {
  width: 3.4em;
  height: 100%;
}

.accordion-container {
  display: flex;
  width: 100%;
  /* flex-direction: column;
  row-gap: 1em; */
}

.experience-left {
  display: flex;
  width: max-content;
  font-size: 16px;
  column-gap: 1em;
}
.experience-right {
  /* width: 50%; */
  display: flex;
  margin-left: auto;
  /* text-align: right; */
  /* float: right; */
}

.experience-header {
  width: fit-content;
}

.experience-header div {
  width: max-content;
}
.company {
  font-weight: bold;
}

.position {
  font-size: 0.9em;
}

.experience-right {
  text-align: right;
  color: rgb(234, 234, 234);
}

ul li {
  list-style-type: disc;
}

ul {
  padding-left: 3em !important;
  /* padding-right: 1.5em !important; */
  font-size: 0.9em;
}

.accordion-item {
  border-top: none;
  border-bottom: none;
  margin-bottom: 1em;
  margin-top: 1em;
}

.accordion-item h2 {
    transition: all 0.4s ease-out;
}

.accordion-item h2:hover {
  background-color: #4cbeba;
}

#projects {
  margin-top: 2em;
  width: 50%;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  row-gap: 2em;
}
.project-list {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 1em;
  row-gap: 1em;
}

.section {
  margin-top: 2em;
  width: 50%;
}

.card-container {
  width: 320px;
  height: 450px;
  border: 1px solid white;
  border-radius: 20px;
  background-color: rgb(8, 9, 10);
  /* background-color: hsl(0, 0%, 85%); */
}

.card-img-container {
  height: 40%;
  width: 100%;
  border-bottom: 0.5px solid #ecebeb;
  padding: 0.4em 0.4em;
  border-radius: 20px;
  background-color: white;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 20px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.card-body-container {
  height: 60%;
  width: 100%;
  padding: 0.7em 0.7em;
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
  align-items: flex-start;
  /* border: 1px solid white; */
}

.card-header-container {
  width: 100%;
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid white; */
}

.card-description-container {
  width: 100%;
  height: 35%;
  /* border: 1px solid white; */
  font-size: 0.8em;
}

.card-footer-container {
  height: 40%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  row-gap: 0.5em;
  /* border: 1px solid white; */
}

.card-skills-container {
  width: 100%;
  height: fit-content;
  /* height: 66%; */
  /* border: 1px solid white; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.4em;
  row-gap: 0.4em;
}

.card-links-container {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  column-gap: 0.4em;
  /* border: 1px solid white; */
}

.card-header-container div:first-child {
  font-weight: bold;
}

.card-header-container div:last-child {
  font-size: 0.8em;
}

.skill-container {
  /* background-color: white; */
  background-color: rgb(245, 245, 245);
  border-radius: 3px;
  width: fit-content;
  height: fit-content;
  padding: 0.3em 0.3em;
  color: black;
  font-size: 0.7em;
}

.link-tag {
  /* background-color: black; */
  background-color: gold;
  color: black;
  border-radius: 3px;
  width: fit-content;
  padding: 0.5em 0.5em;
  font-size: 0.7em;
}

#footer {
  padding: 3em 3em;
}
